<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilo para el cuerpo del documento */
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        
        /* Estilo para el contenedor principal */
        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 30px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        
        /* Estilo para los encabezados */
        h1, h2 {
            text-align: center;
            color: #413d4b;
            margin-bottom: 30px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            font-weight: bold;
        }
        
        h2 {
            border: 3px solid #90c9a7;
            text-transform: uppercase;
            background-color: #90c9a7;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
        }
        
        /* Estilo para los campos de información */
        .info-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .info-item {
            width: 48%;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .info-item p {
            margin: 5px 0;
            font-size: 16px;
        }
        
        .info-item input {
            width: calc(100% - 10px);
            font-size: 16px;
            padding: 5px;
            border: none;
            background: none;
            color: #333;
        }
        
        .info-item strong {
            font-size: 18px;
            color: #333;
        }
        
        /* Estilo para los botones */
        .btn {
            background-color: #90c9a7;
            color: #fff;
            border: none;
            padding: 12px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: block;
            width: 100%;
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }
        
        .btn:hover {
            background-color: #4cae4c;
        }
        
        /* Estilo para la imagen del conductor */
        .conductor-image {
            margin-bottom: 20px;
            text-align: center;
        }
        
        .conductor-image img {
            width: 100%;
            max-width: 360px;
            border: 5px solid #ccc;
            border-radius: 10px;
        }
    </style>
   <script>
        function enableEditing() {
            var infoItems = document.querySelectorAll('.info-item input');
            infoItems.forEach(function(input) {
                input.removeAttribute('disabled');
                input.style.borderBottom = '1px solid #ccc';
            });
            document.getElementById('saveBtn').style.display = 'block';
            document.getElementById('fotoInput').style.display = 'block'; // Mostrar campo de subir foto
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Información Personal</h2>
        <div class="conductor-image">
            <img id="fotoEmpleado" src="/imagen/{{empleado.id}}" alt="Foto del empleado">
        </div>
<form action="/update" method="post" enctype="multipart/form-data">
            <div class="info-container">
                <div class="info-item">
                    <p><strong>Nombres:</strong>{{empleado.nombre}}</p>
                    <p><strong>Apellidos:</strong>{{empleado.apellido}}</p>
                    <p><strong>Tipo de Documento:</strong>{{empleado.tipo}} </p>
                    <p><strong>N° de Documento:</strong> {{empleado.documento}} </p>
                    <p><strong>Sexo:</strong> {{empleado.sexo}}</p>
                    <p><strong>Email:</strong> {{empleado.email}}</p>
                    <p><strong>Celular:</strong> {{empleado.telefono}}</p>
                    <p><strong>Dirección:</strong><input type="text" name="direccion" value="{{empleado.direccion}}" disabled></p>
<p><strong>Fecha de Nacimiento:</strong> {{empleado.fechaNacimiento}}</p>
                    <p><strong>CARGO:</strong> {{empleado.rol}} </p>
                    <p><strong>Tipo de Sangre:</strong> <input type="text" name="tipo_sangre" value="{{empleado.tipo_sangre}}" disabled></p>
                    <p><strong>Estado Civil:</strong> <input type="text" name="estado_civil" value="{{empleado.estado_civil}}" disabled></p>
                    <p><strong>Contacto en Caso de Emergencia:</strong> <input type="text" name="emergencia_nombre" value="{{empleado.emergencia_nombre}}" disabled></p>
                    <p><strong>Teléfono en Caso de Emergencia:</strong> <input type="text" name="emergencia_telefono" value="{{empleado.emergencia_telefono}}" disabled></p>
    
    <p><strong>Subir Foto:</strong> <input type="file" name="foto" accept="image/*" disabled></p>
    <input type="hidden" name="id" value="{{empleado.id}}">
                </div>
            </div>
            <button type="button" class="btn" onclick="enableEditing()">subir informacion</button>
            <button type="submit" class="btn" id="saveBtn" style="display: none;">Guardar Cambios</button>
        </form>
        
    </div>
     <script>
        function enableEditing() {
            var infoItems = document.querySelectorAll('.info-item input');
            infoItems.forEach(function(input) {
                input.removeAttribute('disabled');
                input.style.borderBottom = '1px solid #ccc';
            });
            document.getElementById('saveBtn').style.display = 'block';
            document.getElementById('fotoInput').style.display = 'block'; // Mostrar campo de subir foto
        }

        // Cargar la imagen del empleado dinámicamente
        window.onload = function() {
            var empleadoId = "{{empleado.id}}"; // Ajusta cómo obtienes el ID del empleado en tu contexto
            var img = document.getElementById('fotoEmpleado');
            img.src = `/imagen/${empleadoId}`;
        };
    </script>
</body>
</html>