<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Contrato</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
        }
        h1 {
            color: #413d4b;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin: auto;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #90c9a7;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Generar Contrato para {{usuario}}</h1>
    <form action="/generar_contrato" method="POST">
        <label for="tipo_contrato">Tipo de Contrato</label>
        <select name="tipo_contrato" id="tipo_contrato" required>
            {{#each tiposContrato}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

        <label for="tipo">Tipo de documento</label>
        <input type="text" name="tipo" value="{{empleado.tipo}}" readonly>

        <label for="documento">N° de documento</label>
        <input type="text" name="documento" value="{{empleado.documento}}" readonly>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" value="{{empleado.nombre}}" readonly>

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" value="{{empleado.apellido}}" readonly>

        <label for="salario">Salario</label>
        <select name="salario" id="salario" required>
            <option value="1.300.000">1.300.000</option>
            <option value="1.800.000">1.800.000</option>
            <option value="2.000.000">2.000.000</option>
            <!-- Añadir más opciones según sea necesario -->
        </select>

        <label for="duracion_contrato">Duración del Contrato (en meses)</label>
        <input type="number" name="duracion_contrato" value="12" required>

        <input type="hidden" name="usuario" value="{{usuario}}">

        <button type="submit">Generar Contrato</button>
    </form>
</body>
</html>
